<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>webcredentials:api.threebaskets.net</string>
		<string>webcredentials:test.threebaskets.net</string>
		<string>applinks:threebasketsapp.page.link</string>
		<string>applinks:threebasketsapp.mytrk.link</string>
		<string>applinks:bndk.adj.st</string>
	</array>
</dict>
</plist>
