<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639362389904-6g14oo6b4nu1e5ajb99f2qgo8k2e4cug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639362389904-6g14oo6b4nu1e5ajb99f2qgo8k2e4cug</string>
	<key>API_KEY</key>
	<string>AIzaSyCkZvxT4tk05QLvZ4wuDEOp0FwUTA1Ja10</string>
	<key>GCM_SENDER_ID</key>
	<string>639362389904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.realtransitapps.threebaskets</string>
	<key>PROJECT_ID</key>
	<string>three-baskets</string>
	<key>STORAGE_BUCKET</key>
	<string>three-baskets.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639362389904:ios:c9f1460501d508d4a60515</string>
	<key>DATABASE_URL</key>
	<string>https://three-baskets.firebaseio.com</string>
</dict>
</plist>